

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
/seleniumProj
/.vs
.pnp.js
*.db
*.pdb
*.ilk
*.log
*.obj
*.exe.recipe
*.idb

*.dll
*.exe

/x64/**
/CA1/x64/**
/CA2/x64/**
/SharedMemoryDll/x64/**
/SharedMemoryWriter/x64/**
