

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


/x64

/.vs
.pnp.js
*.db
*.pdb
*.ilk
*.log
*.*.tlog
*.obj
*.exe.recipe
*.idb
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.dll
*.exe



